* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f3f4;
}

.flag-holder {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-background {
  width: 30vw;
  height: 270px;
  background-color: white;
  border: 1px #6c757d solid;
  box-shadow: 3px 5px 5px -2px rgb(81 81 81 / 70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-pattern {
  background-color: red;
  width: 10vw;
  max-width: 270px;
  height: 10vw;
  max-height: 270px;
  border: none;
  border-radius: 5vw;
}
