* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  width: 1000px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wording {
  width: 800px;
  height: 300px;
  text-align: center;
  padding-top: 80px;
}

.wording > h1 {
  font-size: 2.5rem;
}

.space {
  color: white;
}

.right {
  color: #287271;
}

.wrong {
  color: #fad2e1;
}

.standby {
  border-bottom: black 1px solid;
}

.message {
  font-weight: bold;
}

.normal {
  color: #a2faa3;
}

.mild {
  color: #92c9b1;
}

.good {
  color: #4f759b;
}

.better {
  color: #5d5179;
}

.finish {
  color: #571f4e;
}

.noshow {
  visibility: hidden;
}

button {
  width: 100px;
  height: 30px;
  background-color: #e63946;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.3rem;
  box-shadow: 5px 5px 9px -4px #000;
}
