body {
  font-family: 'Karla';
}

.container {
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

h1 {
  font-size: 3em;
}

.titleword {
  width: 70%;
  margin: auto;
  color: #343a40;
}

.info {
  line-height: 1.5;
  color: #343a40;
}

.subtitle {
  width: 80%;
}

h3 {
  font-size: 1em;
}

.col-full,
.col-half,
.col-sub1,
.col-sub2 {
  position: relative;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.col-full {
  max-width: 100%;
}

.col-half {
  max-width: 50%;
  display: flex;
}

.col-sub1 {
  max-width: 25%;
  display: flex;
  margin-right: 0;
}

.col-sub2 {
  max-width: 75%;
  padding-top: 30px;
  margin-left: 0;
}

.button {
  text-align: center;
}

.imageholder {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

img {
  width: 90%;
}

button {
  width: 200px;
  height: 50px;
  border: 1px solid red;
  background-color: white;
}

.text-center {
  text-align: center;
}

.content-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}
